---
import { Image } from 'astro:assets'
import { getCollection, getEntryBySlug } from 'astro:content'
import { Icon } from 'astro-icon'

import ActionButton from '~/components/ActionButton.astro'
import Container from '~/components/Container.astro'
import Footer from '~/components/Footer.astro'
import Modal from '~/components/Modal.astro'
import Programme from '~/components/Programme.astro'
import Section from '~/components/Section.astro'

import Layout from '~/layouts/Base.astro'

const foreword = await getEntryBySlug('articles', 'foreword')

const { slug, data, render } = foreword

const { portrait, name, role } = data

const { Content } = await render()

const partners = await getCollection('partners')
---

<script>
  // @ts-nocheck
  import Scanner from 'qr-scanner'

  const elem = document.querySelector('#scanner')

  const scanBadge = async (badge: string) => {
    return await fetch(`https://execut.fly.dev/scans/${badge}`, {
      method: 'post',
      headers: new Headers({
        'Authorization': `Bearer ${token}`,
      }),
    }).then((res) => res.json())
  }

  const onResult = async (res) => {
    if (res !== 'Scanner error: No QR code found') scanner.stop()

    const { data } = res

    const { recruiter } = await scanBadge(data)

    if (recruiter.company_slug) {
      window.location.href = `/partners/${recruiter.company_slug}`
    } else {
      Alpine.store('scanner').stop()
    }
  }

  const scanner = new Scanner(
    elem,
    onResult,
    { onDecodeError: () => {} },
  )

  import Alpine from 'alpinejs'
  import persist from '@alpinejs/persist'

  Alpine.plugin(persist)

  window.Alpine = Alpine

  Alpine.store('auth', {
    token: null,

    init() {
      const params = new URLSearchParams(window.location.search)

      const { token } = Object.fromEntries(params.entries())

      if (token) this.token = Alpine.$persist(token)
    },
  })

  Alpine.store('scanner', {
    partner: '',

    open: false,

    start() {
      this.open = true

      scanner.start()
    },

    stop() {
      this.open = false

      scanner.stop()
    },
  })

  const token = Alpine.store('auth').token

  Alpine.start()
</script>

<Layout>
  <Section
    x-data="{ hidden: $persist(false) }"
    x-show="!hidden"
    x-cloak>
    <Container>
      <article class="p-4 rounded bg-subtle-highlight">
        <h1 class="font-mono text-2xl font-bold text-red mb-2">
          Welcome to exec(ut)
        </h1>

        <div class="prose text-justify max-w-none">
          <Content />

          <p class="my-0">Yours truly,</p>

          <p class="my-0 text-lg">Jorden Bakker</p>
          <small class="text-brown/80">Chair of exec(ut) 2023</small>

          <Image class="my-2 rounded" src={portrait} alt={name} />
        </div>

        <button class="block mx-auto" @click="hidden = true">Dismiss</button>
      </article>
    </Container>
  </Section>

  <Section>
    <Container>
      <h1 class="font-mono text-3xl font-bold text-red sm:text-4xl">Venue</h1>

      <p class="mt-4 sm:mt-6">
        This year exec(ut) will be held in De Kom in Nieuwegein and is easily
        accessible by public transport from USP and Utrecht Centraal.
      </p>

      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d39278.063973949356!2d5.085325!3d52.027302!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xcf5eea753bfdde58!2sDE%20KOM!5e0!3m2!1sen!2snl!4v1676752910214!5m2!1sen!2snl"
        class="w-full h-64 my-4 border-none"
        allowfullscreen
        loading="lazy"
        title="Direction to De Kom"
        referrerpolicy="no-referrer-when-downgrade"></iframe>

      <address class="leading-tight prose text-right text-mono text-brown/40">
        Stadsplein 6
        <br />
        3431 LZ Nieuwegein
      </address>
    </Container>
  </Section>

  <Section>
    <Container>
      <h1 class="font-mono text-3xl font-bold text-red sm:text-4xl">
        Programme
      </h1>

      <Programme previous={'/app'} />
    </Container>
  </Section>

  <Section>
    <Container>
      <h1 class="font-mono text-3xl font-bold text-red sm:text-4xl">
        Partners
      </h1>

      <p class="mt-4 sm:mt-8">
        Without the generous support of our partners' exec(ut) would not have
        been possible. Below you can find a list of our partners, most of which
        you will be able to meet on the day itself. They will be attending
        exec(ut) with a stand, so make sure to stop by and have a chat!
      </p>

      <article
        class="grid grid-cols-1 gap-4 mt-2 md:grid-cols-2 lg:grid-cols-3">
        {partners.map((partner) => {
          const { slug, data } = partner

          const { name, industry, logo } = data

          return (
            <a
              class="p-2 transition-colors rounded hover:bg-subtle-highlight"
              href={`/partners/${slug}`}>
              {logo.format === 'svg' ? (
                <img
                  class="block object-contain mx-auto w-fulf h-36 md:h-56"
                  src={logo.src}
                  alt={`${name} logo`}
                />
              ) : (
                <Image
                  class="block object-contain w-full mx-auto h-36 md:h-56"
                  src={logo}
                  alt={`${name} logo`}
                />
              )}
            </a>
          )
        })}
      </article>
    </Container>
  </Section>

  <Section>
    <Container>
      <h1 class="font-mono text-3xl font-bold text-red sm:text-4xl">Contact</h1>

      <p class="mt-4 sm:mt-6">
        It is commonplace for events like this to publish a code of conduct to
        describe the setting and tone one can expect at the event. You can find
        our <a
          class="text-green hover:text-green/80 transition-colors underline"
          href="/documents/code-of-conduct.pdf">code of conduct here</a
        >.
      </p>

      <p class="mt-4 sm:mt-6">
        If you encounter any issues whatsoever before, during, or after the
        event, please contact an organiser so we can take action right away.
        Jorden and Thirza are always available through phone, SMS, and WhatsApp:
      </p>

      <ul class="mt-4 sm:mt-6">
        <li class="text-green">
          {'>'} Thirza Hiwat <a href="tel:+31612919146">+31 6 12919146</a>
        </li>

        <li class="text-green">
          {'>'} Jorden Bakker <a href="tel:+31681403322">+31 6 81403322</a>
        </li>
      </ul>
    </Container>
  </Section>

  <div x-data>
    <ActionButton @click="$store.scanner.start()">$_</ActionButton>

    <Modal x-show="$store.scanner.open">
      <div class="fixed z-50 inset-0 bg-brown/80 backdrop-blur flex flex-col">
        <button class="ml-auto -mb-14" @click="$store.scanner.stop()">
          <Icon name="close" class="w-14 h-14 p-4 transition-colors text-white hover:bg-white/40" />
        </button>

        <video id="scanner" class="w-11/12 m-auto rounded" />
      </div>
    </Modal>
  </div>

  <Footer />
</Layout>
